<h1>Singup</h1>

<% if @user.errors.any? %>
  <%= t('form_error_message') %>
  <ul>
    <% @user.errors.full_messages.each do |m| %>
      <li> <%= m %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user, url: signup_path do |f|  %>
  <div>
    <%= f.label :name, t('labels.user.name') %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email, t('labels.user.email') %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password, t('labels.user.password') %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, t('labels.user.password_confirmation') %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
