<%= render 'form', url: new_book_path if current_user %>
<% if !@books.blank? %>
  <%= form_tag edit_books_path do %>
    <ul class="tasks">
      <%= render @books %>
    </ul>

    <div>
      <%= submit_tag t('helpers.submit.update_all'), class: 'button' if current_user %>
    </div>
  <% end %>

<% else %>
  <p><%= t('books.no_book') %></p>
<% end %>
